<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD AUTH</title>
    <link rel="stylesheet" href="/plugin/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/plugin/fontawesome/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-nav">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LOGO</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav-align" id="navbarSupportedContent">
              <div class="wrapper-link">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" id="add-prod" href="#">Add Product</a>
                    </li>
                  </ul>
              </div>
              <div class="wrapper-user">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user-astronaut fa-2x"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" id="btn-signout">Sign Out</a></li>
                      </ul>
                    </li>
                </ul> 
              </div>
                         
          </div>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row wrapper-contain">
            <div class="col-md-12 menu-add">
                <h4>List Product</h4>
            </div>
            <div class="col-md-12 head-list">
                <div class="row text-center">
                  <div class="col-md-1">#</div>
                  <div class="col-md-4">Preview</div>
                  <div class="col-md-3">Product Name</div>
                  <div class="col-md-1">Stock</div>
                  <div class="col-md-1">Price</div>
                  <div class="col-md-2 col-aksi">Action</div>
                </div>
            </div>
            <div class="col-md-12 content-list">                
            </div>
        </div>
        <div class="row wrapper-contain2 hide">
          <div class="col-md-12 menu-add">
              <h3 class="text-center">Update Product</h3>
          </div>
          <div class="col-md-12">
              <div class="row wrapper-upd">
                  <input type="hidden" id="id">
                  <div class="col-md-6" id="img-upd"></div>
                  <div class="col-md-6">
                      <div class="mb-3">
                          <label for="inputName" class="form-label">Product Name</label>
                          <input type="text" class="form-control" id="inputName" name="nameprod">
                      </div> 
                      <div class="mb-3">
                          <label for="inputStock" class="form-label">Stock</label>
                          <input type="text" class="form-control" id="inputStock" name="stock">
                      </div>
                      <div class="mb-3">
                          <label for="inputPrice" class="form-label">Price</label>
                          <input type="text" class="form-control" id="inputPrice" name="price">
                      </div>    
                      <div class="mb-3">
                          <label for="formFile" class="form-label">Image</label>
                          <input class="form-control" type="file" id="formFile" name="img">
                      </div> 
                      <div class="mb-3">
                          <button type="submit" class="btn btn-success" id="btn-submit">Submit</button>
                      </div>                 
                  </div>
              </div>
          </div>
      </div>
        
    </div>
    <!-- End Container -->
    <script type="text/javascript" src="/plugin/bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/js/scripthome.js"></script>
</body>
</html>